body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ece5dd;
}

.header {
  background: #075e54;
  color: white;
  padding: 15px;
  font-size: 18px;
}

.chat-box {
  height: 70vh;
  overflow-y: auto;
  padding: 10px;
}

.msg {
  max-width: 70%;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  clear: both;
}

.sent {
  background: #dcf8c6;
  float: right;
}

.received {
  background: white;
  float: left;
}

.input-box {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  background: #f0f0f0;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: none;
}

.input-box button {
  background: #075e54;
  color: white;
  border: none;
  padding: 10px;
}